page-scan-barcode {
    .content{
        background-image:url('../images/icon3.png');
        background-position:center center;
        background-repeat: no-repeat;
        background-size:40% auto;
    }
}
