page-store-info {
    .left{
        background-color:#8a9739;
        width:20%;
        height:100px;
        text-align:center;
        line-height:100px;
        float:left;
    }
    .content,.ion-page,.scroll-content{
        border-radius: 10px!important;
        overflow:hidden;
    }
}
