page-store-info {

    .show-page{
        margin-left: 10%;
        margin-top: 50%;
        width:80%!important;
        height:50%!important;
        border-radius: 10px;
        box-shadow: 0 16px 20px rgba(0,0,0,.4);
    }
}
