page-stores-map {
    #map{
        height:100%;
        transition:0.4s;
    }
    .closebutton{
        margin-top:0px;
    }
    .pricebreakup .modal-wrapper{
        margin-left: 10%;
        margin-top: 50%;
        width:80%!important;
        height:50%!important;
    }
}
